* {
  all: unset; //Unsets everything so you can style everything from scratch
}

@import "scss/_styles.scss";

.horizontal {
  background-color: #494949;
  border-radius: 8px;
  color: #b0b4bc;
  padding: 5px 15px;

  .workspaces-widget {
    .horizontal {
      padding: 1px;
    }
  }
}
